
{{#if data}}
    {{#each data}}
    <h1>Datos del libro "{{title}}"</h1>
        <div>
            <h3>Title:</h3>
            <p>{{title}}</p>
    
            <h3>Author:</h3>
            <p>{{author}}</p>
        </div>
        
        <div>
            <h3>Pages:</h3>
            <p>{{pages}}</p>
            <h3>Genere:</h3>
            <p>{{genere}}</p>
        </div>

    {{/each}}
{{/if}}
